.news{
  margin-top: 50px;
}
.new{
  border: 1px solid #c1c1c1;
  background: #ffff;
  min-height: 225px;
  padding: 10px;
  margin-bottom: 20px;
}
.tite-new-preview{
  font-family: Tahoma;

}

.preview{
  width: 220px;
  padding-top:10px;
  max-height: 170px;
}

.addtion-information{
  font-size: 15px;
  font-weight: bold;
}

.list-inline {
  display: flex;
  justify-content: center;
}

input#search {
  /* background-image: url('../img/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
   */

}

div.category {
  color: #AF2F2F;
}

button#filter {
  height: 34px;
}

#onlyphoto {
	display: none;
}
/* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
.checkbox-custom {
	position: relative;      /* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
	width: 20px;             /* Обязательно задаем ширину */
	height: 20px;            /* Обязательно задаем высоту */
	border: 2px solid #ccc;
	border-radius: 3px;
}
/* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */
.checkbox-custom,
.label {
	display: inline-block;
	vertical-align: middle;
}
/* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
#onlyphoto:checked + .checkbox-custom::before {
	content: '\2713';             /* Добавляем наш псевдоэлемент */
	display: block;			 /* Делаем его блочным элементом */
	position: absolute;      /* Позиционируем его абсолютным образом */
	/* Задаем расстояние от верхней, правой, нижней и левой границы */
	top: -2px;
	right: 2px;
	bottom: 0px;
	left: 3px;
	/* background: #413548;     /* Добавляем фон. Если требуется, можете поставить сюда картинку в виде "галочки", которая будет символизировать, что чекбокс отмечен */ */
	border-radius: 2px;
}
button#find {
  height: 34px;
}

@media screen and (max-width: 767px) {

    button#find {
      display: none;
    }
}
